@media (min-width: 370px) and (max-width: 540px) {
.col-sm-12 {
    margin-left: 9%;
    margin-top: 5%;
}

}

@media  (min-width:325px) and (max-width: 370px) {
    .col-sm-12 {
        margin-left: 6%;
        margin-top: 5%;
    }
    
}

@media   (max-width: 320px) {
    .col-sm-12 {
        margin-top: 3%;
    }
    
}